.cabecalho{
    background-color: beige;
}

.produtos-destaque {
    background-color: rgb(211, 252, 211);
}

.promocoes{
    background-color: lightcoral;
}

.depoimentos{
    background-color: khaki;
}

.rodape{
    background-color: lightsalmon;
}